$font-subtitle: 'League Spartan', sans-serif;
$font-title: 'Antonio', sans-serif;
$color-white: white;
$color-white-opacity: rgba(255, 255, 255, 0.8);
$hover-button: rgba(255, 255, 255, 0.5);

$color-planets: (
    'mercury-color': #419EBB,
    'venus-color': #EDA249,
    'earth-color': #6F2ED6,
    'mars-color': #D14C32,
    'jupiter-color': #D83A34,
    'saturn-color': #CD5120,
    'uranus-color': #1EC2A4,
    'neptune-color': #2D68F0
);
