@use '../global/variables' as *;
@use '../util/functions' as f;

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
    height: 75px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);

    .nav__title{
        @include f.text-style($font-title, 26px, $color-white, 500);
    }

    .nav__planets{
        display: flex;
        list-style: none;
        height: 100%;

        .planet{
            margin-left: 30px;
            display: flex;
            align-items: center;
            position: relative;

            .link-planet{
                @include f.text-style($font-subtitle, 14px, $color-white-opacity, 500);
            }

            @each $name, $color in $color-planets{
                .#{$name}{
                    &::before{
                        content: "";
                        display: inline-block;
                        position: absolute;
                        background-color: $color;
                        top: 0;
                        left: 50%;
                        width: 0%;
                        height: 3px;
                        transition: all .2s;
                    }
                    &:hover::before{
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }
        
    }
}