@use '../global/variables' as *;
@use '../util/functions' as *;

.nav{
    @include responsive(md){
        display: block;
        padding: 0;
        height: 130px;
    }
    @include responsive(sm){
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        height: 50px;
        //margin-bottom: 25px;
        
    }
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
    height: 75px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);

    .nav__title{
        @include text-style($font-title, 26px, $color-white, 500);
        
        //responsive
        @include responsive(md){
            text-align: center;
            margin: 30px 0;
        }
        @include responsive(sm){
            margin: 0;
        }
    }

    .nav__planets{
        @include responsive(md){
            justify-content: space-between;
            width: 700px;
            height: 68px;
            margin: 0 auto;
        }
        @include responsive(sm){
            display: none;
        }

        display: flex;
        list-style: none;
        height: 100%;

        .planet{
            @include responsive(md){
                margin-left: 10px;
            }

            .selected-planet{
                @media (min-width: 1041px){
                    &::after{
                        content: "";
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        opacity: 1;
                    }
                }
            }

            margin-left: 30px;
            display: flex;
            align-items: center;
            position: relative;

            .link-planet{
                @include text-style($font-subtitle, 14px, $color-white-opacity, 500);
            }
            @include responsive(md){
                @each $name, $color in $color-planets{
                    .#{$name}{
                        &::after{
                            content: "";
                            display: inline-block;
                            position: absolute;
                            background-color: $color;
                            opacity: .7;
                            bottom: 0;
                            left: 50%;
                            width: 0%;
                            height: 3px;
                            transition: all .2s;
                        }
                        &:hover::after{
                            width: 100%;
                            left: 0;
                        }
                    }
                }    
            }
                @media (min-width: 1041px) {
                    @each $name, $color in $color-planets{
                    .#{$name}{
                        &::before{
                            content: "";
                            display: inline-block;
                            position: absolute;
                            background-color: $color;
                            top: 0;
                            left: 50%;
                            width: 0%;
                            height: 3px;
                            transition: all .2s;
                            opacity: .7;
                        }
                        &:hover::before{
                            width: 100%;
                            left: 0;
                        }
                    }   
                }
            }
        }
    }
}