@use '../global/variables' as v;

@mixin text-style($family, $size: 16px, $color: white, $weight: 600){
    font-family: $family;
    font-size: $size;
    color: $color;
    font-weight: $weight    
}